home.achichorro.com {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:3000
	}

	handle_path /zero/* {
		reverse_proxy zero-cache:4848
	}

	handle /assets/* {
		header Cache-Control "public, max-age=31536000, immutable"
		root * /srv
		file_server
	}

	handle {
		header Cache-Control "no-cache"
		root * /srv
		try_files {path} /index.html
		file_server
	}
}

achichorro.com {
	encode zstd gzip
	root * /sites/achichorro-blog/current

	@hashed_assets path /assets/*
	header @hashed_assets Cache-Control "public, max-age=31536000, immutable"

	@entry_points not path /assets/*
	header @entry_points Cache-Control "no-cache"

	file_server
}
